VITE_JAM_MODE=mock
VITE_MINIJAM_NETWORK_NAME=MiniJAM Testnet
VITE_MINIJAM_API_URL=
VITE_PLAYGROUND_API_URL=https://playground.minijam.xyz/api/v1
VITE_JNS_SERVICE_ID=
VITE_DEFAULT_COMPUTER_SERVICE_CODE_ID=
